---
import { Trash2 } from "../components/icons";
---

<button
  class="ms-auto flex items-center justify-center gap-2 text-center text-white cursor-pointer bg-red-600 hover:bg-red-800 py-2 px-6 rounded text-md"
  hx-post="/partials/todos/clear-completed"
  hx-target="#todo-list"
>
  <span> Clear completed</span>
  <Trash2 size={16} />
</button>
