---
import { getActiveItemsCount, getCompletedItemsCount } from "../data/todos";
import ClearCompleted from "./ClearCompleted.astro";
import ItemCount from "./ItemCount.astro";

const { filter } = Astro.locals;
---

<footer class="footer" id="footer" hx-swap-oob="true">
  <ItemCount itemCount={getActiveItemsCount()} />

  <ul class="flex items-center justify-between gap-4 mt-6">
    <!-- <button class="text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg">Button</button> -->

    <li class="w-full">
      <a
        href="/?filter=all"
        class="font-bold text-center text-green-900 cursor-pointer ring hover:ring-4 ring-green-600 py-2 px-6 rounded text-md"
        class:list={{ selected: filter === "all" }}
      >
        All
      </a>
    </li>
    <li class="w-full">
      <a
        href="/?filter=active"
        class="font-bold text-center text-green-900 cursor-pointer ring hover:ring-4 ring-green-600 py-2 px-6 rounded text-md"
        class:list={{ selected: filter === "active" }}>Active</a
      >
    </li>
    <li class="w-full">
      <a
        href="/?filter=completed"
        class="font-bold text-center text-green-900 cursor-pointer ring hover:ring-4 ring-green-600 py-2 px-6 rounded text-md"
        class:list={{ selected: filter === "completed" }}>Completed</a
      >
    </li>
  </ul>

  <div class="mt-8">
    {getCompletedItemsCount() > 0 && <ClearCompleted />}
  </div>
</footer>

<style>
  .selected {
    @apply text-white bg-green-600;
  }
</style>
