---
import { Github } from "../components/icons";
import GlobalStyles from "../pages/partials/_global-styles.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="TodoMVC example" />
    <title>Astro • TodoMVC</title>
  </head>
  <body>
    <slot />

    <footer class="text-white text-center max-w-6xl mx-auto">
      <p>
        You can click on any todo <strong>title</strong> to edit it.
      </p>

      <ul class="mt-6 grid lg:grid-cols-3 gap-6">
        <li class="lg:text-start">
          Forked from{" "}
          <a
            target="_blank"
            class="hover:underline underline-offset-4"
            href="https://github.com/tony-sull/todomvc-astro-htmx"
            >tony-sull/todomvc-astro-htmx</a
          >
        </li>

        <li>
          <a
            target="_blank"
            class="hover:underline underline-offset-4 flex items-center justify-center gap-2"
            href="https://github.com/Loa212"
            >Checkout my
            <Github />
          </a>
        </li>

        <li class="lg:text-end">
          <a
            target="_blank"
            class="hover:underline underline-offset-4"
            href="https://github.com/Loa212/todomvc-astro-htmx"
          >
            Checkout this project on Github
          </a>
        </li>
      </ul>
    </footer>
    <script type="module" src="htmx.org"></script>
    <script type="module" src="https://unpkg.com/hyperscript.org@0.9.12"
    ></script>
  </body>
</html>

<GlobalStyles />
